.container {
  max-width: 1200px;

  & .weather {
    display: flex;
    position: relative;

    &__bg {
      height: 800px;
      width: 1200px;
      object-fit: cover;
      box-shadow: 20px 20px 100px black;
      pointer-events: none;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 5;

      & .geolocation {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__date {
          text-align: left;
        }

        &__location {
          padding: 10px;
          text-align: right;

          & h4 {
            margin-bottom: 10px;
          }

          & h6 {
            font-style: italic;
            margin-top: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .weather__bg {
    max-width: 1000px;
    max-height: 675px;
  }
}

@media (max-width: 992px) {
  .weather {
    width: 100vw;
    height: 100vh;
  }
  .weather__bg {
    display: none;
  }
}

@media (max-width: 767px) {
  .geolocation {
    flex-direction: column;
  }
  .geolocation__location {
    align-self: end;
  }
}