.forecast__grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(45, 59, 102, 0.75);

  & .today {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    font-size: 1.4em;

    & i {
      font-size: 4rem;
      margin: 5px;
    }
  }

  & .other__days {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & i {
      font-size: 2rem;
    }
  }

  & .dayname {
    background-color: #555555;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 2px 10px;
    border-radius: 2em;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 992px) {
  .today {
    width: 100%;
  }
  .forecast__grid {
    justify-content: center;
  }
  .other__days {
    flex-basis: 28%;
  }
}